body, html {
    height: 100%;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #000;
    background-color: #fff;	
}

h1{
	font-size: 24px;
    color: #000;
}

.gal {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;	
	}	
	
.gal img{ 
  width: 100%; padding: 7px 0;
}

@media (max-width: 400px) {		
	.gal {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	}	
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
	opacity:0.5;
}

#myImg:hover {opacity:1;}



