body, html {
    height: 100%;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.wrapper {
  height: 100%; 
  width: 100%; 
  background: url('thank_you.jpg') no-repeat;
  background-position: center center;
  background-repeat:  no-repeat;
  /*background-attachment: fixed;*/
  background-size:  cover;
  background-color: #999;
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; 
  /*height:45%;*/
  bottom: 0; 
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 0.5em;
}
.message>p{
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.6em;

}

#logos img {
    width: 100%;
    margin-bottom: 30px;    
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	transition: 0.2s ease-in-out;
	opacity:0.5;
}

#logos img:hover {    
    opacity:1;
}