<style>
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
	  overflow-x :hidden;
  }
  
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4,p {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }    
  
 #logos img {
    width: 100%;
    margin-bottom: 30px;    
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	transition: 0.2s ease-in-out;
	opacity:0.5;
}

#logos img:hover {    
    opacity:1;
}
 
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #00264d;
  }
  .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
  .carousel-indicators li {
      border-color: #00264d;
  }
  .carousel-indicators li.active {
      background-color: #00264d;
  }
 
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
   #morebtn{
      background-color: #00264d;
      color: #fff;
  }
  #morebtn:hover{
      background-color: #fff;
      color: #00264d;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  .carousel-inner img {       
      width: 1200px; /* Set width to 100% */      
      margin: auto;
  }
  .carousel-caption h3, p {
      color: #000 !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

  
.gal {
    padding: 40px;
}

.gal .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.gal .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.gal img {
    border-radius: 0px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }   
}
@media(max-width:400px){
	#logoname{
		display:none;
	}
}

  </style>